spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/postgres"
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimumIdle: 4
      maximumPoolSize: 10
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQL10Dialect